@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --color-primary:hsl(0, 0%, 0%);
        --color-secondary:hsl(0, 0%, 50%);
        --color-text-base:hsl(0, 0%, 100%);
        --color-bg-primary:hsl(0, 0%, 100%);
    }
}


/* Apple iOS-inspired themes */

.theme-blue {
    --color-primary: #147efb; /* Base */
    --color-secondary: #0f5bb5; /* Darkest */
    --color-accent: #85c7ff; /* Lightest */
}

.theme-green {
    --color-primary: #4CAF50; /* Base (Forest Green) */
    --color-primary-dark: #357A38; /* Darkest */
    --color-primary-light: #A8D5A4; /* Lightest */
}

.theme-indigo {
    --color-primary: #5856d6; /* Base */
    --color-secondary: #3b39a6; /* Darkest */
    --color-accent: #a9a7ec; /* Lightest */
}

.theme-orange {
    --color-primary: #fd9426; /* Base */
    --color-secondary: #c66d1b; /* Darkest */
    --color-accent: #ffcd94; /* Lightest */
}

.theme-pink {
    --color-primary: #fc3158; /* Base */
    --color-secondary: #c22542; /* Darkest */
    --color-accent: #ff97a7; /* Lightest */
}

.theme-purple {
    --color-primary: #8585ff; /* Base */
    --color-primary-dark: #5c5cb2; /* Darkest */
    --color-primary-light: #c4c4ff; /* Lightest */
}

.theme-red {
    --color-primary: #fc3d39; /* Base */
    --color-secondary: #c32e2b; /* Darkest */
    --color-accent: #ff9391; /* Lightest */
}

.theme-teal {
    --color-primary: #5fc9f8; /* Base */
    --color-secondary: #4191b3; /* Darkest */
    --color-accent: #a6e4fc; /* Lightest */
}

.theme-yellow {
    --color-primary: #fecb2e; /* Base */
    --color-secondary: #b89622; /* Darkest */
    --color-accent: #ffe592; /* Lightest */
}
