@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        --color-primary:hsl(0, 0%, 0%);
        --color-secondary:hsl(0, 0%, 50%);
        --color-text-base:hsl(0, 0%, 100%);
        --color-bg-primary:hsl(0, 0%, 100%);
    }
}


/* Apple iOS-inspired themes */

.theme-blue {
    --color-primary: #147efb; /* Base */
    --color-primary-dark: #0f5bb5; /* Darkest */
    --color-primary-light: #85c7ff; /* Lightest */
}

.theme-green {
    --color-primary: #53d769; /* Base */
    --color-primary-dark: #3ca251; /* Darkest */
    --color-primary-light: #a8ebb4; /* Lightest */
}

.theme-indigo {
    --color-primary: #5856d6; /* Base */
    --color-primary-dark: #3b39a6; /* Darkest */
    --color-primary-light: #a9a7ec; /* Lightest */
}

.theme-orange {
    --color-primary: #fd9426; /* Base */
    --color-primary-dark: #c66d1b; /* Darkest */
    --color-primary-light: #ffcd94; /* Lightest */
}

.theme-pink {
    --color-primary: #fc3158; /* Base */
    --color-primary-dark: #c22542; /* Darkest */
    --color-primary-light: #ff97a7; /* Lightest */
}

.theme-purple {
    --color-primary: #8e8e93; /* Base */
    --color-primary-dark: #5f5f63; /* Darkest */
    --color-primary-light: #c7c7cb; /* Lightest */
}

.theme-red {
    --color-primary: #fc3d39; /* Base */
    --color-primary-dark: #c32e2b; /* Darkest */
    --color-primary-light: #ff9391; /* Lightest */
}

.theme-teal {
    --color-primary: #5fc9f8; /* Base */
    --color-primary-dark: #4191b3; /* Darkest */
    --color-primary-light: #a6e4fc; /* Lightest */
}

.theme-yellow {
    --color-primary: #fecb2e; /* Base */
    --color-primary-dark: #b89622; /* Darkest */
    --color-primary-light: #ffe592; /* Lightest */
}
